body{
    background-color: #505395;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

thead{
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.a-self-center{
    align-self: center;
}

.b-bottom{
    border-bottom: 1px solid #e5e5e5;
}

.map-label{
    display: inline-block;
    padding: 0 7px;
    margin-right: 1.5px;
    font-size: 9px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid black;
    border-radius: 2em;
}

.graph{
    width: 100%;
    height: 500px;
}


.ib{
    display: inline-block;
}

.truncate{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-green{
    background-color:#57ff4d;
    color: #000000
}

.label-yellow{
    background-color:#ffc415;
    color: #000000
}

.label-red{
    background-color:#c90014;
    color: white;
}

.label-black{
    background-color: black;
    color: white;
    border-color: grey;
}

.label-blue{
    background-color: #1892fd;
    color: white;
}

.label-purple{
    background-color: #fa63ff;
    color: white;
}
