body{
    background-color: #505395;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

thead{
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.map-label{
    display: inline-block;
    padding: 0 7px;
    margin-right: 1px;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid blue;
    border-radius: 2em;
    background-color: blueviolet;
    color: white;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }