body{
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}

* {
    box-sizing: border-box;
}

.dynamic-content{
    margin-right: auto;
    margin-left: auto;
    width: 100%
}

.container {
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

thead{
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.a-self-center{
    align-self: center;
}

.b-bottom{
    border-bottom: 1px solid #e5e5e5;
}

.map-label{
    display: inline-block;
    padding: 0 7px;
    margin-right: 1.5px;
    font-size: 9px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid black;
    border-radius: 2em;
}

.graph{
    width: 100%;
    height: 500px;
}


.ib{
    display: inline-block;
}

.truncate{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-green{
    background-color:#57ff4d;
    color: #000000
}

.label-yellow{
    background-color:#ffc415;
    color: #000000
}

.label-red{
    background-color:#c90014;
    color: white;
}

.label-black{
    background-color: black;
    color: white;
    border-color: grey;
}

.label-blue{
    background-color: #1892fd;
    color: white;
}

.label-purple{
    background-color: #fa63ff;
    color: white;
}

.fade-in {animation:fade-in 0.2s;}
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

.fade-out {animation:fade-out 0.2s;}
@keyframes fade-out {
    from {opacity:1;}
    to {opacity:0;}
}

.error-container {
    z-index: 3001;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    pointer-events: none;
}

.errors {
    z-index: 3001;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

/* A <h2> element is 50% taller than a <p>. The height and width for the <p> aligned config buttons is 1.5. That's 1 for the height of the text and 0.5 for the rest of the line height. 
   So we get 2rem from 1.5 + 0.5...
*/
h2 .config-button {
    height: 2rem;
    width: 2rem;
}

/* Currently this is just for the filter button on the submitter table... But we can adjust it to be more generic later */
.config-button {
    background-color: #d7d9dc;
    /* padding: 0.375rem 0.75rem; */
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.25rem;
    margin-left: 0.5rem;
    /* Bootstrap's default padding to match button */
    border-radius: 0.375rem;
}

.config-button:hover {
    /* background-color: #e2e3e5; */
    background-color: #949495;
    border-radius: 5px;
}

.config-button:active {
    background-color: #c4c4c4;
    border-radius: 5px; 
}

.hovered-table-row {
    background-color: #bfbfbf;
}

tr:hover{
    background-color: #bfbfbf;
}

.modal-container
{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color:  rgba(0, 0, 0, 0.5);
    z-index: 3000;
}
.modal-container .card {
    max-height: 100%;
}
.modal-container .card-header {
    display: flex;
    justify-content: space-between;
}

.modal-container .card-body {
    max-height: 100%;
    overflow: auto;
}

.card-footer {
    background-color: #f7f7f7 !important;
    margin-bottom: 1rem;
}

.comment-box {
    max-width: 512px;
    white-space: pre-wrap;
}
.comment-box p {
    padding-left: 8px;
}

.edit-info {
    max-width: 512px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-details-button {
    border: 0;
    padding: 0;
    margin-left: 4px;
}
.edit-details-button:hover {
    background-color:#949495;
}

.custom-checkbox {
    padding: 0.375rem 0.75rem;
    /* Bootstrap's default padding to match button */
    border-radius: 0.375rem;
    /* Bootstrap's default border-radius to match button */
    display: flex;
    align-items: center;
    /* Ensure vertical centering of checkbox and label */
    gap: 0.5rem;
    user-select: none;
    background-color: slategray;
    color: white;
}
